<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CESINHA</title>
</head>

<body>
    <h1>Lista de Nomes</h1>

    <ul>
        <% for(let i = 0; i < vetornomes.length; i++ ) { %>
        <li>
            <%=vetornomes[i].nome%>
        </li>
        <% } %>
    </ul>
    
</body>

</html>