<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CESINHA</title>
</head>

<body>
    <h1>Cadastro</h1>
    <form action="/teste4" method="post">
        <label for="">Nome:</label>
        <input type="text" id="nome " name="nome">
        <input type="submit">
    </form>
    <!--<% for (cada of resultado) { %>
        <%=cada%>
    <%} %> -->
    <%=resultado%>
</body>

</html>