.do {
  color: blue;
}

.titl {
  padding: 20px;
  text-align: center;
  font-size: 25px;
  color: white;
  background-color: #365477;
  font-family: Alfa Slab One;
  line-height: normal;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

article {
  float: left;
  width: 40%;
  height: 600px;
  background: #365477;
  padding: 20px;
  margin-right: 10%;
  margin-left: 5%;
  border-radius: 50px;
}

article ul {
  list-style-type: none;
  padding: 0;
}

nav {
  float: left;
  width: 40%;
  height: 622px;
  background: #365477;
  padding: 20px;
  border-radius: 50px;
}

.form {
  float: left;
  margin-top: 35px;
  margin-left: 30%;
}

.formul {
  float: left;
  margin-top: 50px;
  width: 35%;
  margin-right: 10%;
  margin-left: 5%;
  overflow-y: scroll;
  overflow-x: none;

}

.formula {
  float: left;
  margin-top: 50px;
  width: 35%;
  margin-right: 5%;
  margin-left: 10%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.acao {
  float: left;
  padding: 15px;
  width: 40%;
  background-color: #365477;
  height: 300px;
  border-radius: 50px;
  margin-top: 3px;
  margin-right: 5%;
}

.mud {
  margin-top: -20px;
  margin-left: 10%;
  font-size: 25px;
}

.cpa {
  margin-left: 18px;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}

.emch {
  color: #ffffff;
  text-align: center;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #495e75;
  padding: 5px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

footer li {
  list-style: none;
  display: inline-block;
  padding: 3px 20px;

}

footer li>a {
  text-decoration: none;
}

footer li>a:hover {
  color: #FFF;
  border-bottom: 3px solid #FFF;
}

.oqeud {
  text-align: justify;
  display: inline-block;
}

.titu {
  font-size: 35px;
  padding: 5px;
  margin-left: 15%;
  display: inline-block;
}

.titulo {
  font-size: 30px;
  padding: 5px;
  margin-left: 12%;

}

.assu {
  font-size: 25px;
  color: #ffffff;
  text-shadow: #000 1px -1px 2px, #000 -1px 1px 2px, #000 1px 1px 2px, #000 -1px -1px 2px
}

p {
  padding: 10px;
}

a {
  color: #cccccc;

}

a:visited {
  color: #cccccc;

}

.but {
  padding: 5px;
  border-radius: 30px;
  font-size: 25px;
  text-align: center;
  display: inline-block;
  background-color: #cccccc;

}

.acao button:hover {
  background-color: #FFF;
}

.ods {
  float: left;
  padding: 20px;
  width: 40%;
  border-radius: 50px;
  background-color: #cccccc;
  height: 277px;
  margin-top: 20px;
}

.texto {
  font-size: 20px;
  border-radius: 20%;
}

.text {
  font-size: 20px;
  border-radius: 20%;
}

.email {
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
}

.eml {

  width: 80%;
  height: 25px;
}

.den {

  width: 80%;
  height: 80px;
}

.dig {
  text-align: center;
  width: 342px;
  height: 48px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #FFF;
  font-family: Alfa Slab One;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.resulta {
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  font-family: Alfa Slab One;
  flex-shrink: 0;
}

.white {
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  font-family: Alfa Slab One;
  flex-shrink: 0;
}

.resu {
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  font-family: Alfa Slab One;
  flex-shrink: 0;
  font-size: 20px;
}

#dois {
  height: 400px;
  margin-top: 5%;
  background-color: #eee;
  border: 2px solid black;
}

#um {
  font-size: 25px;
  margin-top: -30px;
}

#tres {
  font-size: 25px;
  margin-top: -25px;
}

#quatro {
  font-size: 35px;
  color: #000;
}

@media (max-width: 742px) {

  .titl,
  footer {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .form {
    width: 60%;
    margin-left: 20%;
  }

  .log {
    display: inline-block;
    width: 80%;
  }

  .acao {
    margin-top: 20px;
    width: 80%;
    text-align: center;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .log,
  .acao,
  .ods {
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  .assu {
    position: relative;
    top: -45px;
    font-size: 19px;
  }

  .mud {
    margin-top: 10px;
  }

  .mud,
  .but {
    font-size: 20px;
  }

  .cpa {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
  }

  .ods {
    width: 80%;
    margin-top: 20px;
  }

  .titu {
    text-align: center;
    margin-left: 10%;
  }

  .formula,
  .formul {
    width: 70%;
    margin-left: 15%;
  }

  #tres,
  #um {
    margin-top: 8%;
  }

  #quatro {
    font-size: 30px;
  }

  #tres,
  #um {
    font-size: 20px;
  }
}