<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denúncia</title>
   <link rel="stylesheet" href="gpt.css">
</head>
<body>
    <header class="titl" >
        <h1><%=title%></h1>
    </header>
    <footer>
        <!--<p>Alunos: Angelo Freitas Paixão, Eduardo da S. Ferreira</p>-->
    <span>
        <%-include('back')%>
    </span>

    <span>
        <a href="/email"><b>Email</b></a>
    </span>
    <span>
        <a href="/obj"><b>Chat</b></a>
    </span >
    <span>
        <a href="/obj"><b>Saiba mais</b></a>
    </span>
    </footer>
    <section>
        <nav class="form">

    <form action="/salvar" method="post" class="email">
        <label for="email">Seu email:</label>
        <input type="text" id="email" name="email">
        <input type="submit" id="Em">
    </form>
    </nav>
    </section>  
    
    <%=resultado%> 
    
</body>
</html>