<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edu</title>
    <link rel="stylesheet" href="gpt.css">
</head>
<body>
    <header class="titl" >
        <h1><%=title%></h1>
    </header>
    <section>
        <nav>
    <ul class="cansei">
       
        <br>
        <a href="/tec">
            <li>Por que denunciar?</li>
        </a>  
        <br>
        <p>Contate-nos:</p>
        <a href="">Instagram</a><br>
        <a href="eduardosf2307@gmail.com">E-mail</a>
<br>
        <br>
           <li>Precisa de ajuda?</li>
            
           <li>Ligue 180</li> 
           
           <li>Disque 100</li>
        <br>

            <a href="/obj">
               <li>Faça sua Denúncia</li>
             </a>
    </ul>
</nav>
<article>
    <h1>Quem somos?</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos in, ratione, provident, culpa impedit voluptatum eligendi quo neque natus repudiandae ex optio suscipit expedita similique velit. Inventore quas harum repellendus.</p>
</article>
</section>
<footer>
    <p>Alunos: Angelo Freitas Paixão, Eduardo da S. Ferreira</p>
</footer>
</body>
</html>