<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edu</title>
    <link rel="stylesheet" href="gpt.css">
</head>
<body>
 
    <header class="titl" >
        <h1><%=title%></h1>
    </header>
    <footer>
        <!--<p>Alunos: Angelo Freitas Paixão, Eduardo da S. Ferreira</p>-->
    <span>
        <%-include('back')%>
    </span>

    <span>
        <a href="/tec"><b>Email</b></a>
    </span>
    <span>
        <a href="/obj"><b>Chat</b></a>
    </span >
    <span>
        <a href="/obj"><b>Saiba mais</b></a>
    </span>
    </footer>
    
    <h1 class="titu">O que é uma denúncia?</h1>
    <section>
        <nav>  
    <ul class="oqeud">
       <b class="assu">Para manter a integridade do órgão, o recebimento e o tratamento de denúncias é função importante na detecção de irregularidades ou ato ilícitos. Mas o que é uma denúncia?
        De acordo com a Portaria MC nº 670, de 13/09/2021, que dispõe sobre a organização do atendimento da Central de Relacionamento, da Ouvidoria, e de Transparência e Acesso à Informação, e norteia as diretrizes para o atendimento das demandas relacionadas à proteção de dados pessoais no âmbito do Ministério da Cidadania, denúncia é ato que indica a prática de irregularidade ou de ilícito cuja solução dependa da atuação dos órgãos apuratórios competentes.</b>
    </ul>
</nav>
<article class="acao">
    <h1 class="cpa">Como podemos ajudar?</h1>
    <br>
        <b class="emch">Email:</b>
        <input type="button" value="Faça sua Denúncia" onclick="" class="but">
        <br><br><br>
        <b class="emch">Chat: </b>
        <input type="button" onclick="" value="Converse conosco" class="but">
</article>
<article class="ods">
        <b class="texto">O Denúncia Segura oferece o apoio de especialistas para um melhor atendimento.</b>
</article>
<article class="disq">
    <p class="text">- Disque 100 </p>
    <p class="text">- Ligue 180 </p>
    
</article>
</section>
</body>
</html>