<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edu</title>
</head>
<body>
    <h1>Bem vindo a <%=title%></h1>
    <ul>
        <a href="/obj">
            <li>Objetivos</li>
        </a>
        <a href="/tec">
            <li>Procure aqui</li>
        </a>
        
    </ul>
</body>
</html>