<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denúncia</title>
    <link rel="stylesheet" href="gpt.css">
</head>

<body>
    <header class="titl">
        <div>
            <h1>Denúncia Segura</h1>
        </div>
    </header>

    <div class="formulario">
        <footer class="subl">
            <!--<p>Alunos: Angelo Freitas Paixão, Eduardo da S. Ferreira</p>-->
            <ul>
                <span>
                    <li><%-include('back')%></li>

                    <li><a href="/email"><b>Email</b></a></li>

                    <li><a href="/chat"><b>Chat</b></a></li>

                    <li><a href="/obj"><b>Saiba mais</b></a></li>
                </span>
            </ul>

        </footer>

    </div>
    <section>
        <article class="formula">
            <h2 class="resu">Emails</h2>
            <ul>
                <% for(let i=0; i < vetornomes.length; i++ ) { %>
                    <p class="resulta">
                        <%=vetornomes[i].email%>
                    </p>
                    <% } %>
            </ul>
        </article>

        <article class="formul">
            <h2 class="resu">Denúncias</h2>
            <ul>
                <% for(let i=0; i < vetornomes.length; i++ ) { %>
                    <p class="resulta">
                        <%=vetornomes[i].denuncia%>
                    </p>
                    <% } %>
            </ul>
        </article>
    </section>
</body>

</html>