<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objetivos</title>
    <link rel="stylesheet" href="gpt.css">
</head>
<body>
    <header class="titl" >
        <h1>Denúncia Segura</h1>
    </header>
    <footer>
        <!--<p>Alunos: Angelo Freitas Paixão, Eduardo da S. Ferreira</p>-->
    <span>
        <%-include('back')%>
    </span>

    <span>
        <a href="/email"><b>Email</b></a>
    </span>
    <span>
        <a href="/chat"><b>Chat</b></a>
    </span >
    <span>
        <a href="/obj"><b>Saiba mais</b></a>
    </span>
    </footer>
    
 
</body>
</html>