<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objetivos</title>
    <link rel="stylesheet" href="gpt.css">
</head>
<body>
    <h1 class="do"><%=title%></h1>
    <li>Ajudar os pequenos négocios da cidade a crescer</li>
    <br>
    <br>
    <%-include('back')%>
 
</body>
</html>