<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="gpt.css">
</head>
<body>
    <h1 class="do"><%=title%></h1>
    <ol>
        <li>Mapa</li>
        <li>Negócios</li>
        <li>Donos dos negócios</li>
    </ol>
    <br>
    <br>
    <%-include('back')%>
</body>
</html>