<html>
<head>
    <title> Como criar um formulário completo em HTML </title>
    <meta name="description" content="Aprenda a criar um site completo que usa formulários em HTML">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
   
    <body>
    <h1> Calculadora do Cesinha</h1>
    <h2> Coloque os números abaixo</h2><br>
    
    <form action="/calcular" method="get">
<td>
    <label for="nome">1° Número: </label>
    </td>
    <td align="left">
    <input type="number" name="NN">
    </td>
    <td>
        <label for="nome">2° Número: </label>
        </td>
        <td align="left">
        <input type="number" name="N2">
    </td>
    <td>
        <label for="nome">Operação (+ - / *): </label>
        </td>
        <td align="left">
        <input type="text" name="OP">
    </td>

    <br>
    <br>
    <input type="submit">
    <input type="reset" value="Limpar">
    </form>